jenkins/VAL/*.dSYM
jenkins/VAL/*.o
jenkins/VAL/src/pddl+.cpp
jenkins/VAL/tan
jenkins/VAL/validate
jenkins/log
jenkins/shopdir.lisp
jenkins/tmp
shop3/*.fasl
shop3/*.ps
shop3/Makefile
shop3/acl-8.2a-linux-x86
shop3/acl-8.2m-linux-x86
shop3/allegro-8.0a-linux-x86
shop3/allegro-8.1a-linux-x86
shop3/bin
shop3/common/acl-8.2a-linux-x86
shop3/common/acl-8.2m-linux-x86
shop3/doc
shop3/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile*.lisp
shop3/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile*.soln
shop3/io/acl-8.2a-linux-x86
shop3/io/acl-8.2m-linux-x86
shop3/pddl/acl-8.2a-linux-x86
shop3/pddl/acl-8.2m-linux-x86
shop3/planning-engine/acl-8.2a-linux-x86
shop3/planning-engine/acl-8.2m-linux-x86
shop3/planning-tree/acl-8.2a-linux-x86
shop3/planning-tree/acl-8.2m-linux-x86
shop3/sbcl-1.0.7-linux-x86
shop3/tests/acl-8.2a-linux-x86
shop3/tests/acl-8.2m-linux-x86
shop3/theorem-prover/acl-8.2a-linux-x86
shop3/theorem-prover/acl-8.2m-linux-x86
shop3/unification/acl-8.2a-linux-x86
shop3/unification/acl-8.2m-linux-x86

README\.html
*.log
*.toc
*.aux

.DS_Store
