jenkins/log
jenkins/shopdir.lisp
jenkins/tmp
shop2/*.fasl
shop2/*.ps
shop2/Makefile
shop2/acl-8.2a-linux-x86
shop2/acl-8.2m-linux-x86
shop2/allegro-8.0a-linux-x86
shop2/allegro-8.1a-linux-x86
shop2/bin
shop2/common/acl-8.2a-linux-x86
shop2/common/acl-8.2m-linux-x86
shop2/doc
shop2/io/acl-8.2a-linux-x86
shop2/io/acl-8.2m-linux-x86
shop2/java/shop2gui/bin
shop2/java/shop2gui/doc
shop2/pddl/acl-8.2a-linux-x86
shop2/pddl/acl-8.2m-linux-x86
shop2/planning-engine/acl-8.2a-linux-x86
shop2/planning-engine/acl-8.2m-linux-x86
shop2/planning-tree/acl-8.2a-linux-x86
shop2/planning-tree/acl-8.2m-linux-x86
shop2/sbcl-1.0.7-linux-x86
shop2/tests/acl-8.2a-linux-x86
shop2/tests/acl-8.2m-linux-x86
shop2/theorem-prover/acl-8.2a-linux-x86
shop2/theorem-prover/acl-8.2m-linux-x86
shop2/unification/acl-8.2a-linux-x86
shop2/unification/acl-8.2m-linux-x86
