* text=auto !eol
jenkins/BeastPaths.pm -text
jenkins/FullMultiplatform.pm -text
jenkins/JENKINS-README.org -text
jenkins/LepinayPaths.pm -text
jenkins/ShopTestRunBase.pm -text
jenkins/asdf.lisp svneol=native#text/x-lisp
jenkins/build-shop2.lisp svneol=native#text/x-lisp
jenkins/compile-shop2.lisp svneol=native#text/x-lisp
jenkins/full-test-suite.asd -text
jenkins/jenkins.perl -text
jenkins/jm.perl -text
jenkins/run-tests.sh svneol=native#text/plain
jenkins/shop-full-suite-multiplatform-jenkins-script -text
jenkins/shop-multiplatform-jenkins-script -text
jenkins/shop-single-platform-jenkins-script -text
jenkins/start-lisp.sh -text
jenkins/test-shop2.lisp svneol=native#text/x-lisp
shop2/common/common.lisp -text
shop2/common/package-common.lisp -text
shop2/common/state-decls.lisp -text
shop2/common/state-utils.lisp -text
shop2/decls.lisp -text
shop2/docs/README.txt -text
shop2/docs/shop2.doc -text svneol=unset#unset
shop2/docs/shop2.pdf -text svneol=unset#unset
shop2/examples/UMT2/Documentation.doc -text svneol=unset#unset
shop2/examples/UMT2/Documentation.pdf -text svneol=unset#unset
shop2/examples/UMT2/UMT2.lisp -text
shop2/examples/UMT2/nst-uml.lisp -text
shop2/examples/UMT2/nst-umt.lisp -text
shop2/examples/UMT2/pfile1.lisp -text
shop2/examples/UMT2/pfile2.lisp -text
shop2/examples/UMT2/pfile3.lisp -text
shop2/examples/UMT2/plans.lisp -text
shop2/examples/UMT2/umt-tests.lisp -text
shop2/examples/apply-operator-bug.lisp -text
shop2/examples/axiom-else-bug.lisp -text
shop2/examples/blocks/block2.lisp -text
shop2/examples/blocks/problem100.lisp -text
shop2/examples/blocks/problem200.lisp -text
shop2/examples/blocks/problem300.lisp -text
shop2/examples/blocks/tests.lisp -text
shop2/examples/depots/depots.lisp -text
shop2/examples/depots/pfile1.lisp -text
shop2/examples/depots/pfile10.lisp -text
shop2/examples/depots/pfile11.lisp -text
shop2/examples/depots/pfile12.lisp -text
shop2/examples/depots/pfile13.lisp -text
shop2/examples/depots/pfile14.lisp -text
shop2/examples/depots/pfile15.lisp -text
shop2/examples/depots/pfile16.lisp -text
shop2/examples/depots/pfile17.lisp -text
shop2/examples/depots/pfile18.lisp -text
shop2/examples/depots/pfile19.lisp -text
shop2/examples/depots/pfile2.lisp -text
shop2/examples/depots/pfile20.lisp -text
shop2/examples/depots/pfile21.lisp -text
shop2/examples/depots/pfile22.lisp -text
shop2/examples/depots/pfile3.lisp -text
shop2/examples/depots/pfile4.lisp -text
shop2/examples/depots/pfile5.lisp -text
shop2/examples/depots/pfile6.lisp -text
shop2/examples/depots/pfile7.lisp -text
shop2/examples/depots/pfile8.lisp -text
shop2/examples/depots/pfile9.lisp -text
shop2/examples/depots/plans.lisp -text
shop2/examples/depots/solve.lisp -text
shop2/examples/depots/tests.lisp -text
shop2/examples/logistic/Log_ran_problems_15.lisp -text
shop2/examples/logistic/Log_ran_problems_20.lisp -text
shop2/examples/logistic/Log_ran_problems_25.lisp -text
shop2/examples/logistic/Log_ran_problems_30.lisp -text
shop2/examples/logistic/Log_ran_problems_35.lisp -text
shop2/examples/logistic/Log_ran_problems_40.lisp -text
shop2/examples/logistic/Log_ran_problems_45.lisp -text
shop2/examples/logistic/Log_ran_problems_50.lisp -text
shop2/examples/logistic/Log_ran_problems_55.lisp -text
shop2/examples/logistic/Log_ran_problems_60.lisp -text
shop2/examples/logistic/logistic.lisp -text
shop2/examples/logistic/logistic/Log_ran_problems_15.lisp -text
shop2/examples/logistic/logistic/Log_ran_problems_20.lisp -text
shop2/examples/logistic/logistic/Log_ran_problems_25.lisp -text
shop2/examples/logistic/logistic/Log_ran_problems_30.lisp -text
shop2/examples/logistic/logistic/Log_ran_problems_35.lisp -text
shop2/examples/logistic/logistic/Log_ran_problems_40.lisp -text
shop2/examples/logistic/logistic/Log_ran_problems_45.lisp -text
shop2/examples/logistic/logistic/Log_ran_problems_50.lisp -text
shop2/examples/logistic/logistic/Log_ran_problems_55.lisp -text
shop2/examples/logistic/logistic/Log_ran_problems_60.lisp -text
shop2/examples/logistic/logistic/logistic.lisp -text
shop2/examples/logistic/logistic/run.lisp -text
shop2/examples/logistic/nst-logistic.lisp -text
shop2/examples/logistic/plans.lisp -text
shop2/examples/logistic/run.lisp -text
shop2/examples/logistic/tests.lisp -text
shop2/examples/protection-test-package.lisp -text
shop2/examples/protection-test.lisp -text
shop2/examples/shop2-test.lisp -text
shop2/examples/test-assign-star.lisp -text
shop2/examples/test-plan-tree.lisp -text
shop2/examples/toy/README.txt -text
shop2/examples/toy/basic-example.lisp -text
shop2/examples/toy/basic-example.txt -text
shop2/examples/toy/optimize-example.lisp -text
shop2/examples/toy/ordering-example.lisp -text
shop2/examples/toy/sort-example.lisp -text
shop2/examples/toy/test-force-immediate.lisp -text
shop2/examples/toy/test-immediate.lisp -text
shop2/examples/toy/unbound-example.lisp -text
shop2/examples/tree-binding-problems.lisp -text
shop2/find-uses.bash -text
shop2/io/debugging.lisp -text
shop2/io/output.lisp -text
shop2/java/ji4shop2/LICENSE.txt -text
shop2/java/ji4shop2/Makefile -text
shop2/java/ji4shop2/config.txt -text
shop2/java/ji4shop2/demo -text
shop2/java/ji4shop2/demo.bat -text
shop2/java/ji4shop2/doc/allclasses-frame.html -text
shop2/java/ji4shop2/doc/allclasses-noframe.html -text
shop2/java/ji4shop2/doc/constant-values.html -text
shop2/java/ji4shop2/doc/deprecated-list.html -text
shop2/java/ji4shop2/doc/help-doc.html -text
shop2/java/ji4shop2/doc/index-all.html -text
shop2/java/ji4shop2/doc/index.html -text
shop2/java/ji4shop2/doc/overview-frame.html -text
shop2/java/ji4shop2/doc/overview-summary.html -text
shop2/java/ji4shop2/doc/overview-tree.html -text
shop2/java/ji4shop2/doc/package-list -text
shop2/java/ji4shop2/doc/packages.html -text
shop2/java/ji4shop2/doc/serialized-form.html -text
shop2/java/ji4shop2/doc/stylesheet.css -text
shop2/java/ji4shop2/doc/umd/cs/javalisp/Javalisp.html -text
shop2/java/ji4shop2/doc/umd/cs/javalisp/ProcessOutputThread.html -text
shop2/java/ji4shop2/doc/umd/cs/javalisp/package-frame.html -text
shop2/java/ji4shop2/doc/umd/cs/javalisp/package-summary.html -text
shop2/java/ji4shop2/doc/umd/cs/javalisp/package-tree.html -text
shop2/java/ji4shop2/doc/umd/cs/shop2/Javalisp.html -text
shop2/java/ji4shop2/doc/umd/cs/shop2/Javatcl.html -text
shop2/java/ji4shop2/doc/umd/cs/shop2/LogicalAtom.html -text
shop2/java/ji4shop2/doc/umd/cs/shop2/Shop.html -text
shop2/java/ji4shop2/doc/umd/cs/shop2/State.html -text
shop2/java/ji4shop2/doc/umd/cs/shop2/TaskAtom.html -text
shop2/java/ji4shop2/doc/umd/cs/shop2/TaskNode.html -text
shop2/java/ji4shop2/doc/umd/cs/shop2/package-frame.html -text
shop2/java/ji4shop2/doc/umd/cs/shop2/package-summary.html -text
shop2/java/ji4shop2/doc/umd/cs/shop2/package-tree.html -text
shop2/java/ji4shop2/j2 -text
shop2/java/ji4shop2/sample/d1.lisp -text
shop2/java/ji4shop2/sample/p1.lisp -text
shop2/java/ji4shop2/src/umd/cs/javalisp/Javalisp.java -text
shop2/java/ji4shop2/src/umd/cs/javalisp/ProcessOutputThread.java -text
shop2/java/ji4shop2/src/umd/cs/javalisp/javalisp.lisp -text
shop2/java/ji4shop2/src/umd/cs/shop2/LogicalAtom.java -text
shop2/java/ji4shop2/src/umd/cs/shop2/Shop.java -text
shop2/java/ji4shop2/src/umd/cs/shop2/State.java -text
shop2/java/ji4shop2/src/umd/cs/shop2/TaskAtom.java -text
shop2/java/ji4shop2/src/umd/cs/shop2/TaskNode.java -text
shop2/java/ji4shop2/src/umd/cs/shop2/jshop2.lisp -text
shop2/java/ji4shop2/tojava.txt -text
shop2/java/ji4shop2/tolisp.txt -text
shop2/java/shop2gui/src/Main.java -text
shop2/java/shop2gui/src/MyQuery.java -text
shop2/java/shop2gui/src/SHOP2GUI.java -text
shop2/java/shop2gui/src/extraFile.lisp -text
shop2/java/shop2gui/src/readme -text
shop2/java/shop2gui/src/shop2.lisp -text
shop2/package.lisp -text
shop2/pddl/pddl.lisp -text
shop2/planning-engine/protections.lisp -text
shop2/planning-engine/search.lisp -text
shop2/planning-engine/task-reductions.lisp -text
shop2/planning-tree/tree-accessors.lisp -text
shop2/planning-tree/tree-funs.lisp -text
shop2/planning-tree/tree-reductions.lisp -text
shop2/shop-asd.asd -text
shop2/shop2-common.asd -text
shop2/shop2-theorem-prover-api/package.lisp -text
shop2/shop2-theorem-prover-api/shop2-thmpr-api.asd -text
shop2/shop2-theorem-prover-api/shop2-thmpr-api.lisp -text
shop2/shop2-theorem-prover.asd -text
shop2/shop2-unifier.asd -text
shop2/shop2.asd -text
shop2/shop2.lisp -text
shop2/silent-shop-test.lisp -text
shop2/test-shop2.asd -text
shop2/tests/arity-tests.lisp -text
shop2/tests/at-package.lisp -text
shop2/tests/common.lisp -text
shop2/tests/io-tests.lisp -text
shop2/tests/pddl-tests.lisp -text
shop2/theorem-prover/decls.lisp -text
shop2/theorem-prover/package-thpr.lisp -text
shop2/theorem-prover/theorem-prover.lisp -text
shop2/unification/package-unifier.lisp -text
shop2/unification/tracer.lisp -text
shop2/unification/unify.lisp -text
