* text=auto !eol
jenkins/JENKINS-README.org -text
jenkins/asdf.lisp svneol=native#text/x-lisp
jenkins/build-shop2.lisp svneol=native#text/x-lisp
jenkins/compile-shop2.lisp svneol=native#text/x-lisp
jenkins/full-test-suite.asd -text
jenkins/run-tests.sh svneol=native#text/plain
jenkins/shop-full-suite-multiplatform-jenkins-script -text
jenkins/shop-multiplatform-jenkins-script -text
jenkins/shop-single-platform-jenkins-script -text
jenkins/start-lisp.sh -text
jenkins/test-shop2.lisp svneol=native#text/x-lisp
shop2/common/common.lisp -text
shop2/common/package-common.lisp -text
shop2/common/state-decls.lisp -text
shop2/common/state-utils.lisp -text
shop2/decls.lisp -text
shop2/docs/README.txt -text
shop2/docs/shop2.doc -text svneol=unset#unset
shop2/docs/shop2.pdf -text svneol=unset#unset
shop2/enhanced-plan-trees.txt svneol=native#text/plain
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile1 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile10 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile11 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile12 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile13 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile14 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile15 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile16 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile17 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile18 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile19 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile2 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile20 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile21 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile22 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile3 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile4 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile5 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile6 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile7 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile8 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/pfile9 -text
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/problem-converter.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/run.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Depots/SimpleTime/easy_probs/validate.sh svneol=native#text/plain
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile1 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile10 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile11 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile12 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile13 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile14 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile15 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile16 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile17 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile18 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile19 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile2 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile20 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile21 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile22 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile3 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile4 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile5 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile6 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile7 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile8 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/pfile9 -text
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/problem-converter.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/run.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Depots/SimpleTime/hard_probs/validate.sh svneol=native#text/plain
shop2/examples/IPC-2002/Depots/SimpleTime/stdepots.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Depots/SimpleTime/stdepots.pddl -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile1 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile10 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile11 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile12 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile13 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile14 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile15 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile16 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile17 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile18 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile19 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile2 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile20 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile21 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile22 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile3 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile4 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile5 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile6 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile7 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile8 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/pfile9 -text
shop2/examples/IPC-2002/Depots/Time/easy_probs/problem-converter.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Depots/Time/easy_probs/run.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Depots/Time/easy_probs/validate.sh svneol=native#text/plain
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile1 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile10 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile11 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile12 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile13 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile14 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile15 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile16 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile17 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile18 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile19 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile2 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile20 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile21 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile22 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile3 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile4 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile5 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile6 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile7 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile8 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/pfile9 -text
shop2/examples/IPC-2002/Depots/Time/hard_probs/problem-converter.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Depots/Time/hard_probs/run.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Depots/Time/hard_probs/validate.sh svneol=native#text/plain
shop2/examples/IPC-2002/Depots/Time/tdepots.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Depots/Time/tdepots.pddl -text
shop2/examples/IPC-2002/Rovers/SimpleTime/README.txt svneol=native#text/plain
shop2/examples/IPC-2002/Rovers/SimpleTime/STRover.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Rovers/SimpleTime/STRover.pddl -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile1 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile10 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile11 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile12 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile13 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile14 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile15 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile16 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile17 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile18 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile19 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile2 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile20 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile3 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile4 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile5 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile6 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile7 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile8 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/pfile9 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/problem-converter.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/run.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Rovers/SimpleTime/easy_probs/validate.sh svneol=native#text/plain
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile1 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile10 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile11 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile12 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile13 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile14 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile15 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile16 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile17 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile18 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile19 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile2 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile20 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile3 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile4 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile5 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile6 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile7 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile8 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/pfile9 -text
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/problem-converter.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/run.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Rovers/SimpleTime/hard_probs/validate.sh svneol=native#text/plain
shop2/examples/IPC-2002/Satellite/SimpleTime/adlsimpleTimeSat.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Satellite/SimpleTime/adlsimpleTimeSat.pddl -text svneol=unset#application/x-elc
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile1 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile10 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile11 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile12 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile13 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile14 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile15 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile16 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile17 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile18 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile19 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile2 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile20 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile3 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile4 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile5 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile6 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile7 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile8 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/pfile9 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/problem-converter.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/run.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Satellite/SimpleTime/easy_probs/validate.sh svneol=native#text/plain
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile1 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile10 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile11 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile12 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile13 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile14 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile15 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile16 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile2 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile3 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile4 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile5 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile6 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile7 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile8 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/pfile9 -text
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/problem-converter.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/run.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/Satellite/SimpleTime/hard_probs/validate.sh svneol=native#text/plain
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile1 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile10 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile11 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile12 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile13 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile14 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile15 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile16 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile17 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile18 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile19 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile2 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile20 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile3 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile4 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile5 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile6 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile7 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile8 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/pfile9 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/problem-converter.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/run.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/easy_probs/validate.sh svneol=native#text/plain
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile1 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile10 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile11 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile12 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile13 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile14 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile15 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile16 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile17 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile18 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile19 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile2 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile20 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile3 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile4 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile5 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile6 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile7 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile8 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/pfile9 -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/problem-converter.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/run.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/hard_probs/validate.sh svneol=native#text/plain
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/zenoSimpleTime.pddl -text
shop2/examples/IPC-2002/ZenoTravel/SimpleTime/zenotravelSimpleTime.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile1 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile10 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile11 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile12 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile13 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile14 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile15 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile16 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile17 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile18 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile19 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile2 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile20 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile3 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile4 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile5 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile6 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile7 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile8 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/pfile9 -text
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/problem-converter.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/run.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/ZenoTravel/Time/easy_probs/validate.sh svneol=native#text/plain
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile1 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile10 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile11 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile12 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile13 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile14 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile15 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile16 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile17 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile18 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile19 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile2 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile20 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile3 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile4 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile5 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile6 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile7 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile8 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/pfile9 -text
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/problem-converter.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/run.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/ZenoTravel/Time/hard_probs/validate.sh svneol=native#text/plain
shop2/examples/IPC-2002/ZenoTravel/Time/zenotravelTandN.pddl -text
shop2/examples/IPC-2002/ZenoTravel/Time/zenotravelTime.lisp svneol=native#text/x-lisp
shop2/examples/IPC-2002/solution-converter.lisp svneol=native#text/x-lisp
shop2/examples/UMT2/Documentation.doc -text svneol=unset#unset
shop2/examples/UMT2/Documentation.pdf -text svneol=unset#unset
shop2/examples/UMT2/UMT2.lisp -text
shop2/examples/UMT2/nst-uml.lisp -text
shop2/examples/UMT2/nst-umt.lisp -text
shop2/examples/UMT2/pfile1.lisp -text
shop2/examples/UMT2/pfile2.lisp -text
shop2/examples/UMT2/pfile3.lisp -text
shop2/examples/UMT2/plans.lisp -text
shop2/examples/UMT2/umt-tests.lisp -text
shop2/examples/apply-operator-bug.lisp -text
shop2/examples/axiom-else-bug.lisp -text
shop2/examples/blocks/block2.lisp -text
shop2/examples/blocks/problem100.lisp -text
shop2/examples/blocks/problem200.lisp -text
shop2/examples/blocks/problem300.lisp -text
shop2/examples/blocks/tests.lisp -text
shop2/examples/depots/depots.lisp -text
shop2/examples/depots/pfile1.lisp -text
shop2/examples/depots/pfile10.lisp -text
shop2/examples/depots/pfile11.lisp -text
shop2/examples/depots/pfile12.lisp -text
shop2/examples/depots/pfile13.lisp -text
shop2/examples/depots/pfile14.lisp -text
shop2/examples/depots/pfile15.lisp -text
shop2/examples/depots/pfile16.lisp -text
shop2/examples/depots/pfile17.lisp -text
shop2/examples/depots/pfile18.lisp -text
shop2/examples/depots/pfile19.lisp -text
shop2/examples/depots/pfile2.lisp -text
shop2/examples/depots/pfile20.lisp -text
shop2/examples/depots/pfile21.lisp -text
shop2/examples/depots/pfile22.lisp -text
shop2/examples/depots/pfile3.lisp -text
shop2/examples/depots/pfile4.lisp -text
shop2/examples/depots/pfile5.lisp -text
shop2/examples/depots/pfile6.lisp -text
shop2/examples/depots/pfile7.lisp -text
shop2/examples/depots/pfile8.lisp -text
shop2/examples/depots/pfile9.lisp -text
shop2/examples/depots/plans.lisp -text
shop2/examples/depots/solve.lisp -text
shop2/examples/depots/tests.lisp -text
shop2/examples/logistic/Log_ran_problems_15.lisp -text
shop2/examples/logistic/Log_ran_problems_20.lisp -text
shop2/examples/logistic/Log_ran_problems_25.lisp -text
shop2/examples/logistic/Log_ran_problems_30.lisp -text
shop2/examples/logistic/Log_ran_problems_35.lisp -text
shop2/examples/logistic/Log_ran_problems_40.lisp -text
shop2/examples/logistic/Log_ran_problems_45.lisp -text
shop2/examples/logistic/Log_ran_problems_50.lisp -text
shop2/examples/logistic/Log_ran_problems_55.lisp -text
shop2/examples/logistic/Log_ran_problems_60.lisp -text
shop2/examples/logistic/logistic.lisp -text
shop2/examples/logistic/plans.lisp -text
shop2/examples/logistic/run.lisp -text
shop2/examples/logistic/tests.lisp -text
shop2/examples/openstacks-adl/README.txt svneol=native#text/plain
shop2/examples/openstacks-adl/domain.lisp -text
shop2/examples/openstacks-adl/domain.pddl -text
shop2/examples/openstacks-adl/p01.lisp svneol=native#text/x-lisp
shop2/examples/openstacks-adl/p01.pddl -text
shop2/examples/openstacks-adl/p02.pddl -text
shop2/examples/openstacks-adl/p03.pddl -text
shop2/examples/openstacks-adl/p04.pddl -text
shop2/examples/openstacks-adl/p05.pddl -text
shop2/examples/openstacks-adl/p06.pddl -text
shop2/examples/openstacks-adl/p07.pddl -text
shop2/examples/openstacks-adl/p08.pddl -text
shop2/examples/openstacks-adl/p09.pddl -text
shop2/examples/openstacks-adl/p10.pddl -text
shop2/examples/openstacks-adl/p11.pddl -text
shop2/examples/openstacks-adl/p12.pddl -text
shop2/examples/openstacks-adl/p13.pddl -text
shop2/examples/openstacks-adl/p14.pddl -text
shop2/examples/openstacks-adl/p15.pddl -text
shop2/examples/openstacks-adl/p16.pddl -text
shop2/examples/openstacks-adl/p17.pddl -text
shop2/examples/openstacks-adl/p18.pddl -text
shop2/examples/openstacks-adl/p19.pddl -text
shop2/examples/openstacks-adl/p20.pddl -text
shop2/examples/openstacks-adl/p21.pddl -text
shop2/examples/openstacks-adl/p22.pddl -text
shop2/examples/openstacks-adl/p23.pddl -text
shop2/examples/openstacks-adl/p24.pddl -text
shop2/examples/openstacks-adl/p25.pddl -text
shop2/examples/openstacks-adl/p26.pddl -text
shop2/examples/openstacks-adl/p27.pddl -text
shop2/examples/openstacks-adl/p28.pddl -text
shop2/examples/openstacks-adl/p29.pddl -text
shop2/examples/openstacks-adl/p30.pddl -text
shop2/examples/protection-test-package.lisp -text
shop2/examples/protection-test.lisp -text
shop2/examples/shop2-test.lisp -text
shop2/examples/test-assign-star.lisp -text
shop2/examples/test-plan-tree.lisp -text
shop2/examples/toy/README.txt -text
shop2/examples/toy/basic-example.lisp -text
shop2/examples/toy/basic-example.txt -text
shop2/examples/toy/optimize-example.lisp -text
shop2/examples/toy/ordering-example.lisp -text
shop2/examples/toy/sort-example.lisp -text
shop2/examples/toy/test-force-immediate.lisp -text
shop2/examples/toy/test-immediate.lisp -text
shop2/examples/toy/unbound-example.lisp -text
shop2/examples/tree-binding-problems.lisp -text
shop2/explicit-stack-search/backtrack-stack.lisp -text
shop2/explicit-stack-search/decls.lisp -text
shop2/explicit-stack-search/explicit-search.lisp -text
shop2/explicit-stack-search/plan-tree.lisp svneol=native#text/x-lisp
shop2/explicit-stack.txt svneol=native#text/plain
shop2/find-uses.bash -text
shop2/io/debugging.lisp -text
shop2/io/output.lisp -text
shop2/io/shop-pprint.lisp svneol=native#text/x-lisp
shop2/minimal-subtree/README.txt svneol=native#text/plain
shop2/minimal-subtree/decls.lisp svneol=native#text/x-lisp
shop2/minimal-subtree/minimal-subtree.lisp svneol=native#text/x-lisp
shop2/minimal-subtree/package.lisp svneol=native#text/x-lisp
shop2/minimal-subtree/tests.lisp svneol=native#text/x-lisp
shop2/package.lisp -text
shop2/pddl/decls.lisp svneol=native#text/x-lisp
shop2/pddl/pddl.lisp -text
shop2/pddl/prover.lisp svneol=native#text/x-lisp
shop2/plan-grapher/decls.lisp svneol=native#text/x-lisp
shop2/plan-grapher/graph-plan-tree.lisp svneol=native#text/x-lisp
shop2/plan-grapher/package.lisp svneol=native#text/x-lisp
shop2/planning-engine/protections.lisp -text
shop2/planning-engine/search.lisp -text
shop2/planning-engine/task-reductions.lisp -text
shop2/planning-tree/tree-accessors.lisp -text
shop2/planning-tree/tree-funs.lisp -text
shop2/planning-tree/tree-reductions.lisp -text
shop2/shop-asd.asd -text
shop2/shop-version.lisp-expr -text
shop2/shop2-theorem-prover-api/package.lisp -text
shop2/shop2-theorem-prover-api/shop2-thmpr-api.asd -text
shop2/shop2-theorem-prover-api/shop2-thmpr-api.lisp -text
shop2/shop2.asd -text
shop2/shop2.lisp -text
shop2/silent-shop-test.lisp -text
shop2/tests/arity-tests.lisp -text
shop2/tests/at-package.lisp -text
shop2/tests/common.lisp -text
shop2/tests/io-tests.lisp -text
shop2/tests/misc.lisp svneol=native#text/x-lisp
shop2/tests/pddl-tests.lisp -text
shop2/tests/singleton-tests.lisp svneol=native#text/x-lisp
shop2/tests/theorem-prover-tests.lisp svneol=native#text/x-lisp
shop2/tests/umt-domain/axioms.lisp svneol=native#text/x-lisp
shop2/tests/umt-domain/operators.lisp svneol=native#text/x-lisp
shop2/tests/umt-domain/pfile1.lisp svneol=native#text/x-lisp
shop2/tests/umt-domain/umt2-domain.lisp svneol=native#text/x-lisp
shop2/theorem-prover/decls.lisp -text
shop2/theorem-prover/package-thpr.lisp -text
shop2/theorem-prover/theorem-prover-call-graph.pptx -text svneol=unset#application/vnd.openxmlformats-officedocument.presentationml.presentation
shop2/theorem-prover/theorem-prover.lisp -text
shop2/unification/package-unifier.lisp -text
shop2/unification/tracer.lisp -text
shop2/unification/unify.lisp -text
