[submodule "jenkins/ext/alexandria"]
	path = jenkins/ext/alexandria
	url = https://gitlab.common-lisp.net/alexandria/alexandria
[submodule "jenkins/ext/fiveam"]
	path = jenkins/ext/fiveam
	url = https://github.com/cl-fiveam/fiveam.git
[submodule "jenkins/ext/iterate"]
	path = jenkins/ext/iterate
	url = https://gitlab.common-lisp.net/iterate/iterate.git
[submodule "jenkins/ext/pddl-tools"]
	path = jenkins/ext/pddl-tools
	url = https://github.com/rpgoldman/pddl-tools.git
[submodule "jenkins/ext/fiveam-asdf"]
	path = jenkins/ext/fiveam-asdf
	url = https://github.com/rpgoldman/fiveam-asdf.git
[submodule "jenkins/ext/asdf-flv"]
	path = jenkins/ext/asdf-flv
	url = https://github.com/didierverna/asdf-flv.git
[submodule "jenkins/ext/trivial-backtrace"]
        path = jenkins/ext/trivial-backtrace
        url = https://gitlab.common-lisp.net/rgoldman/trivial-backtrace.git
[submodule "jenkins/ext/sb-texinfo"]
	path = jenkins/ext/sb-texinfo
	url = https://github.com/rpgoldman/sb-texinfo.git
	branch = for-shop
[submodule "jenkins/ext/trivial-garbage"]
	path = jenkins/ext/trivial-garbage
	url = https://github.com/shop-planner/trivial-garbage.git
[submodule "jenkins/ext/VAL"]
	path = jenkins/ext/VAL
	url = https://github.com/guicho271828/VAL.git
[submodule "jenkins/ext/cl-dot"]
	path = jenkins/ext/cl-dot
	url = https://github.com/michaelw/cl-dot.git
[submodule "jenkins/ext/random-state"]
	path = jenkins/ext/random-state
	url = https://github.com/rpgoldman/random-state.git
[submodule "jenkins/ext/cl-store"]
	path = jenkins/ext/cl-store
	url = https://github.com/skypher/cl-store.git
[submodule "jenkins/ext/lparallel"]
	path = jenkins/ext/lparallel
	url = https://github.com/siftech/lparallel
	branch = lparallel-2.8.4
[submodule "jenkins/ext/bordeaux-threads"]
	path = jenkins/ext/bordeaux-threads
	url = https://github.com/sionescu/bordeaux-threads.git
